@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,800|Source+Sans+Pro:300,400&display=swap');
ul{
  list-style-type: none;
}
img{
  width: 100%;
}
a{
  color: #494949;
}
#header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  text-align: center;
  color: #494949;
}
#header h1{
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: 'Montserrat:700', sans-serif;
  font-size: 2rem;
}
#header h6{
  font-family: 'Source Sans Pro:300', sans-serif;
  font-size: 0.8rem;
}
h2.title{
  text-transform: uppercase;
  font-family: 'Montserrat:700', sans-serif;
  font-weight: bolder;
  color: #494949;
  font-size: 1rem;
}
#who-we-are{
  margin: 30px 0
}

#who-we-are p{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #494949;
  font-size: 0.6rem;
}
#who-we-are h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #4B4B4B;
  font-size: 1rem;
}
.follow{
  margin: 20px -0px;
}
.follow h4{
  font-family: 'Open Sans:800', sans-serif;
  font-size: 0.4rem;
  color: #494949;
}
.follow i{
  font-size: 0.1rem;
  padding-right: 2px;
}
