@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,800|Source+Sans+Pro:300,400&display=swap');
ul{
  list-style-type: none;
  margin: 0;
}
img{
  width: 100%;
}
a{
  color: #494949;
}
#logo img{
  width: 50%;
}
#logo a{
  font-family: 'Montserrat:700', sans-serif;
  color: #4b4b4b;
  font-size: 0.5rem;
}
#nav{
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
#nav .navbar-toggler {
  border-color: transparent;
  outline: none;
}
/* #nav li{
  margin-right: 15px;
  float: left;
  font-family: 'Montserrat:400', sans-serif;
  text-transform: uppercase;
  color: #313131;
  font-size: 14px;
} */
#navbarNavDropdown img{
  margin: 5px;
  width: 30px;
}
#header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  text-align: center;
  color: #494949;
}
#header h1{
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: 'Montserrat:700', sans-serif;
  font-size: 2rem;
}
#header h6{
  font-family: 'Source Sans Pro:300', sans-serif;
  font-size: 0.8rem;
}
h2.title{
  text-transform: uppercase;
  font-family: 'Montserrat:700', sans-serif;
  font-weight: bolder;
  color: #494949;
  font-size: 1rem;
}
#who-we-are{
  margin: 30px 0
}

#who-we-are p{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #494949;
  font-size: 0.6rem;
}
#who-we-are h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #4B4B4B;
  font-size: 1rem;
}
.follow{
  margin: 20px 0;
}
.follow h4, .get-more-info h4{
  font-family: 'Open Sans:800', sans-serif;
  font-size: 0.4rem;
  color: #494949;
}
.follow i, .social-media i{
  font-size: 0.1rem;
  padding-right: 2px;
}
.member{
  max-width: 280px;
  margin: 0 auto;
}
#ourteam h3{
  margin:10px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat:700', sans-serif;
  font-weight: bolder;
  font-size: 0.6rem;
  color: #494949;
}
#ourteam h4{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.1rem;
  color: #A0A0A0;
}

.member:last-child{
  position: relative;
  width:280px;
  height: auto;
  text-align: center;
}
.you h2{
  position:absolute;
  top: 35%;
  left: 40%;
  font-family: 'Montserrat:700', sans-serif;
  font-size: 1rem;
  color: #ADADAD;
}
.wrapper1{
  display:grid;
  grid-template-columns: 347px 543px;
  grid-template-rows: 220px 308px;
  grid-gap: 10px;
  grid-template-areas:
  "box1 box3"
  "box2 box3";
}
.box1{
  grid-area: box1;
}
.box2{
  grid-area: box2;
}
.box3{
  grid-area: box3;
}
/* .box4{
  grid-area: box4;
}
.box5{
  grid-area: box5;
}
.box6{
  grid-area: box6;
}
.box7{
  grid-area: box7;
} */
.company-info{
  margin: 10px;
}
.company-info img{
  width: 30%;
}
.company-info h4, .company-info a, .learn-more a, .get-more-info h5{
  font-size: 0.5rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color:#868686;
}
.learn-more button, .get-more-info h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.6rem;
  color: #575757;
}
.get-more-info{
  margin: 10px;
}
.get-more-info .rounded-pill{
  margin: 10px 0 20px;
  padding: 6px;
  width: 220px;
  height: 30px;
  background: #E2E2E2;
  color: #8C8C8C;
  font-size: 0.5rem;
}
.copyright{
  text-align: center;
  color: #868686;
  font-size: 0.3rem;
}
.payment{
  margin: 0.5rem auto;
}
