*{
  padding: 0;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
a:hover{
  color: #bbbbbb;;
  transition: all .3s linear;
}
#header{
  margin: 30px 0 0;
  background: #F4F4F4;
  text-align: center;
  color: #494949;
}
#header .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23vh;
}
#header h1{
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}
#header-tools{
  background: #EEEEEE;
}
#header-tools .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
.breadcrumbs{
  display: flex;
  align-items: center;
}
.breadcrumbs a, .breadcrumbs h6, .display-mode i, .search h6{
  margin: 0;
  text-transform: capitalize;
  font-size: .7rem;
  opacity: 0.7098039215686275;
  color: #000;
}
.search{
  display: flex;
}
.search h6:first-child{
  padding-right: 1rem;
}


/* article */
#article{
  margin: 2rem 0;
}
#article .container{
  position: relative;
}
.article h2{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: #494949;
}
.date-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: .5rem;
  left: 1.2rem;
  width: 3em;
  height: 3em;
  background: #FFFFFF;
  text-align: center;
  color: #494949;
}
.date-block span:first-child{
  line-height: 1;
  font-size: .9rem;
  font-weight: bold;
}
.date-block span:last-child{
  font-size: .7rem;
}
.article-info{
  position: absolute;
  top: .5rem;
  right: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  color: #4C4C4C;
}
.article p{
  margin: 1.5rem 0;
  color: #494949;
  font-size: .8rem;
  line-height: 1.6;
}
.post-info{
  display: flex;
  justify-content: space-between
}
.post-info div{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .8rem;
  color: #919191;
}


#buttom{
  text-align: center;
}
#buttom i{
  color: #7A7A7A;
}
.copyright{
  margin: 0 auto;
  width: 100%;
}

@media(min-width: 576px){

  .post-info{
    justify-content: flex-start;
  }
  .post-info div{
    padding-right: 1.8rem;
  }

}

@media (min-width:768px) {

}

@media (min-width:992px){
  
 }
