*{
  padding: 0;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
a:hover{
  color: #bbbbbb;;
  transition: all .3s linear;
}
.navbar li:last-child a:last-child:hover{
  color: #494949;
}
#header{
  margin: 30px 0 0;
  background: #F4F4F4;
  text-align: center;
  color: #494949;
}
#header .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23vh;
}
#header h1{
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}
#header-tools{
  background: #EEEEEE;
}
#header-tools .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
.breadcrumbs{
  display: flex;
  align-items: center;
}
.breadcrumbs a, .breadcrumbs h6, .display-mode i, .search h6{
  margin: 0;
  text-transform: capitalize;
  font-size: .7rem;
  opacity: 0.7098039215686275;
  color: #000;
}
.breadcrumbs a:hover, .display-mode i:hover, .search h6:hover{
  cursor: pointer;
  color:#bbb;
  transition: color .3s linear;
}
.search{
  display: flex;
}
.search h6:first-child{
  padding-right: 1rem;
}

/* article */
#article{
  margin: 2rem 0;
}
#article .container{
  position: relative;
}
.article h2{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: #494949;
}
.date-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: .5rem;
  left: 1.2rem;
  width: 3em;
  height: 3em;
  background: #FFFFFF;
  text-align: center;
  color: #494949;
}
.date-block span:first-child{
  line-height: 1;
  font-size: .9rem;
  font-weight: bold;
}
.date-block span:last-child{
  font-size: .7rem;
}
.article-info{
  position: absolute;
  top: .5rem;
  right: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  color: #4C4C4C;
}
.article{
  margin: 2rem 0;
}
.article p{
  margin: 1.5rem 0;
  color: #494949;
  font-size: .8rem;
  line-height: 1.6;
}
.post-info{
  display: flex;
  justify-content: space-between
}
.post-info div{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .8rem;
  color: #919191;
}
.pictures img{
  margin-bottom: 1.5rem;
}
.author{
  align-items: center;
  padding: 1rem;
  background: #F4F4F4;
}
.author img{
  width: 40%;
}
.author h3{
  text-transform: capitalize;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  color: #171717;
}
.author-info{
  margin: .8rem 0;
}
.author-info p, .comment p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  color: #898989;
}
.comment p{
  margin-top: 1rem;
}
.social-media a{
  padding-right: 8px;
  font-size: 1rem;
  color: #151515;
}
.social-media a:hover{
  color: #bbbbbb;
  transition:all .3s linear
}
#comment h1, #leave-comment h1{
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #494949;
}
#comment .container > hr{
  margin-top: .2rem;
  border-top: 3px solid #494949;
  width: 10%;
}
#comment h4{
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: .8rem;
  color: #171717;
}
#comment i{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .6rem;
  color: #171717;
}
.comment{
  align-items: flex-start;
}
.comment.reply{
  position: relative;
  left: 17%;
  width: 87%;
}
.comment img{
  padding-right: 0;
}
.comment hr{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#leave-comment form{
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
#leave-comment form .row{
  margin: 0;
}
#leave-comment form input, #leave-comment form textarea{
  padding: 10px 15px;
  margin-bottom: .8rem;
  border: 0;
  width: 70%;
  height: 30px;
  background: #F7F7F7;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}
#leave-comment form textarea{
  height: 4rem;
  width: 85%;
}
#leave-comment form button{
  padding: 10px 15px;
  border: 0;
  background: #F7F7F7;
  font-size: .5rem;
  color: #858585;
}
#buttom{
  text-align: center;
}
#buttom i{
  color: #7A7A7A;
}
.copyright{
  margin: 0 auto;
  width: 100%;
}

@media(min-width: 576px){
  .post-info{
    justify-content: flex-start;
  }
  .post-info div{
    padding-right: 1.8rem;
  }
  #leave-comment form input{
    width: 55%;
}
  #leave-comment form textarea{
    width: 60%;
  }

@media (min-width:768px) {
  .date-block{
    top: 1.5rem;
    left: 2.5rem;
  }
  .date-block span:first-child{
    font-size: 1.2rem;
  }
  .date-block span:last-child{
    font-size: .9rem;
  }
  .article-info{
    top: 1.5rem;
    right: 2.5rem;
  }
  .article{
    position: relative;
    top: -6rem;
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    background: white;
  }
  .pictures{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
  }
  .pictures .first.row{
    width: 32%;
  }
  .pictures .second.row{
    align-items: flex-start;
    width: 62%;
  }
  .author{
    width: 95%;
    margin: 3rem auto -5rem;
  }
  .author-info p{
    margin: 0 0 .5rem;
  }
  .social-media a{
    padding-right: 3px;
  }
  #comment, #leave-comment{
     margin: 0 auto 5rem;
     width: 70%;
   }
  #leave-comment .input{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #leave-comment form input{
    width: 32%;
}
  #leave-comment form textarea{
    width: 100%;
}

@media (min-width:992px){
  #comment, #leave-comment{
     width: 60%;
   }
 }
