*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#top{
  padding: 10px;
  background: #282828;
}
#top a{
  color: #A1A1A1;
  font-size: 0.5rem;
  background: transparent;
}
#top a:hover{
  background: #3F3E43;
}
.contact{
  display: flex;
  flex-direction: column;
}
.contact a{
  padding-bottom: 5px;
  width: 48%;
}
.customer{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
}
.customer a{
  padding: 6px;
}
#nav{
  padding: 10px;
}
#logo img{
  width: 30%;
}
.user-tool{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
.shop-bag{
  display:flex;
}
.shop-bag div h4,.shop-bag div h6{
  margin-bottom: 0;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
  color: #000;
}
.shop-bag div h4{
  font-weight: bold;
}
