*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#top{
  padding: 10px;
  background: #282828;
}
#top a{
  color: #A1A1A1;
  font-size: 0.5rem;
  background: transparent;
}
#top a:hover{
  background: #3F3E43;
}
.contact{
  display: flex;
  flex-direction: column;
}
.contact a{
  padding-bottom: 5px;
  width: 48%;
}
.customer{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
}
.customer a{
  padding: 6px;
}
#nav{
  padding: 10px;
}
#logo img{
  width: 30%;
}
.user-tool{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
.shop-bag{
  display:flex;
}
.shop-bag div h4,.shop-bag div h6{
  margin-bottom: 0;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
  color: #000;
}
.shop-bag div h4{
  font-weight: bold;
}
.product{
  position:relative;
  margin-bottom: 10px;
  padding: 10px;
}
.product.first, .product.second{
  display:flex;
  align-items: flex-end;
  height: 60vh;
  background: #4C4C4C;
  color: #FFFFFF;
}
.product.second{
  flex-direction: column;
  align-items: flex-start;
  height:45vh;
}
.product.first img{
  align-self: flex-start;
  position: absolute;
  right: 20px;
  width: 60%;
}
.intro_1{
  width: 75%;
}
.intro_1 h4, .second h4{
  letter-spacing: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .7rem;
}
.intro_1 h1.title{
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.intro_1 h1.subtitle{
  margin-bottom: 0;
  font-weight: lighter;
  font-family: 'Montserrat300', sans-serif;
}
.intro_1 p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.7rem;
}
h2.price{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.second h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
.product.second img{
  align-self: center;
  width: 80%;
}
.price-sticker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  right: 10%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #62C5DE;
}
.price-sticker h6{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  text-decoration: line-through;
  opacity: 0.5686274509803921;
}
.price-sticker h6 span{
  font-size: .4rem;
}
h2.price span{
  font-size: .7rem;
}
.shop{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color:#FFFFFF;
  font-size: 14px;
}
.intro_3 h3{
  font-family: 'Montserrat', sans-serif;
  color: #939393;
}
