@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,800|Source+Sans+Pro:300,400&display=swap');
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
}
a{
  color: #494949;
}
a:hover{
  text-decoration: none;
}
.container-fluid{
  padding: 0;
}
.display-block {
  display: block !important;
}
button.send{
  display: block;
  background: #383838;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: .8rem;
}
button.send:hover{
  background: #b7aeae;
}
#nav{
  padding:30px 30px 0;
  margin: 10px 0;
}
#nav .container-fluid{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a:hover{
  color: #bbbbbb;
}
#logo img{
  width: 60%;
}
#logo a{
  display: block;
  padding:5px 0;
  font-family: 'Montserrat:700', sans-serif;
  color: #4b4b4b;
  font-size: 0.5rem;
}
.burger{
  cursor: pointer;
}
.burger div{
  margin: 5px;
  width: 25px;
  height: 3px;
  background-color: #313131;
}
ul.navbar{
  display: none;
  position:absolute;
  padding: 20px;
  top: 50px;
  right: 0px;
  width: 50%;
  height: 80vh;
  background: #F6F6F6;
  z-index: 10;
}
.navbar li{
  margin-top: 6vh;
  font-family: 'Montserrat:400', sans-serif;
  text-transform: uppercase;
  color: #313131;
  font-size: 0.8rem;
}
.navbar li:last-child{
  display: flex;
}
.navbar li:last-child a:nth-child(3){
  position: relative;
}
img.tools{
  margin: 5px;
  width: 20px;
}
.items-num{
  display: inline-block;
  position: absolute;
  bottom: -1px;
  right: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  text-align: center;
  color:white;
  font-size: 0.5rem;
}
.design{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 5px;
  height: 22px;
  width: 22px;
  border: 2px solid;
  border-radius: 50%;
}
.design div{
  margin: 1px 4px;
  width: 10px;
  height: 2px;
  background-color: #313131;
}
.design div:nth-child(2){
  width: 7px;
}
.company-info{
  margin: 10px 0;
}
.company-info img{
  margin-bottom: 20px;
  width: 30%;
}
.company-info h4{
  margin-bottom: 20px;
}
.company-info a, .learn-more a, .get-more-info h5{
  font-size: 0.5rem;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  color:#868686;
}
.map{
  margin-bottom: 15px
}
.info{
  display:flex;
  align-items: baseline;
}
.info i{
  color: #A0A0A0;
}
.learn-more li{
  margin: 7px 0;
}
.learn-more button, .get-more-info h4, .learn-more.whole h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 0.6rem;
  color: #575757;
}
.learn-more button{
  padding: 10px 0;
}
.learn-more.whole{
  display: none;
  margin: 10px 0;
  padding: 0;
}
.learn-more.only-title{
  padding-left: 15px;
}
.get-more-info{
  margin: 10px 0;
}
.get-more-info .rounded-pill{
  margin: 10px 0 20px;
  padding: 6px;
  width: 220px;
  height: 30px;
  background: #E2E2E2;
  color: #8C8C8C;
  font-size: 0.5rem;
}
.copyright{
  text-align: center;
  color: #868686;
  font-size: 0.3rem;
}
.company-name{
  font-weight: bold;
  color: #494949;
}
img.payment{
  display:block;
  margin: 0.5rem auto;
  width: 50%;
}
#buttom{
  margin: 40px 0;
}

@media (min-width:768px) {
  .burger{
    display:none;
  }
  #nav ul.navbar{
    top: 0;
    right: 0;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background: transparent;
    width:70%;
    height: auto;
  }
  .navbar li{
    margin-top: 0;
    margin-right: 5px;
    font-size: 0.8rem;
  }
  #header h1{
    font-size: 2.2rem;
  }
  #header h6{
    font-size: 1rem;
  }

  .company-info img{
    width: 20%;
  }
  .follow h4, .get-more-info h4{
    font-size: 0.6rem;
  }
  .social-media i{
    font-size: 0.5rem;
  }
  .learn-more.whole{
    display: flex;
  }
  .learn-more.only-title{
    display: none;
  }
  img.payment{
    float: right;
    width: 20%;
  }
  .copyright{
    float: left;
  }
}
@media (min-width:992px){
  #nav ul.navbar{
    width:46vw;
    height: auto;
  }
  .navbar li{
    font-size: 0.6rem;
  }
  #logo img{
    width: 70%;
  }
  #logo a:first-child{
    display: inline-block;
  }
  #logo a:last-child{
    display: inline;
  }
  .company-info img{
    width: 40%;
  }
 .get-more-info{
   text-align: right;
 }
 .rounded-pill{
   text-align: left;
 }
 .follow h4, .get-more-info h4{
   font-size: 0.8rem;
 }
 .follow i, .social-media i{
   font-size: 0.8rem;
 }
}
