*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header_2{
  position: relative;
  background-image: url(../images/checkout.png);
  background-size: cover;
}
#header_2 .opacity{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .2;
}
#top li:first-child:after{
  content: '|';
  margin-left: .5rem;
  color: white;
}
#top a{
  font-family: 'Open Sans';
  font-size: .8rem;
  color: #fff;
}
#header_2 #header{
  padding: 30px 0;
  text-align: center;
  color: #fff;
}
#header h1{
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}
#header_2 #header a, #header_2 #header h6{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  color: white;
}
#header a:hover{
  color: #000;
}
.breadcrumbs{
  display: flex;
  align-items: center;
}
.breadcrumbs h6{
  margin: 0;
}
/* process */
#header_2, #process{
  margin-bottom: 3rem;
}
ol.step{
  margin-bottom: 0;
  position: relative;
  list-style-type: none;
}
li.step-item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
li.step-item:first-child:after, li.step-item:nth-child(2):after{
  position: absolute;
  top: 28px;
  left: 75%;
  width: 51%;
  height: 1px;
  content: '';
  background-color: #eee;
}
li.step-item div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: .5rem;
  border-radius: 50%;
  border: 2px solid #eee;
}
li.step-item div h5, li.step-item h4{
  margin: 0;
  color: #9f9f9f;
}
li.step-item h4{
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-size: .8rem;
}
li.step-item.step-current div{
  border: 2px solid #000;
}
li.step-item.step-current div h5, li.step-item.step-current h4{
  color: #000;
}
#order-confirm h2{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
form.billing-details select, form.billing-details input, form.billing-details textarea{
  margin-bottom: .5rem;
  padding: .5rem;
  background: #fff;
  width: 100%;
  height: 2.5rem;
  border: 1px solid #eee;
  border-radius: 8px;
  color: #7D7D7D;
  font-size: .8rem;
  outline: none;
}
form.billing-details div{
  display: flex;
  align-items: center;
  color: #7D7D7D;
  font-size: .8rem;
}
form.billing-details input[type="checkbox"]{
  margin-bottom: 0;
  margin-right: 1rem;
  width: auto;
}


table.total{
  width: 100%;
}
table.total tr{
  height: 2rem;
  border-bottom: 1px solid #eee;
}
table.total td:first-child{
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .8rem;
  color: #808080;
}
table.total td:last-child{
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  color: #010101;
}

table.total td.free-ship{
  font-size: .8rem;
}


.gray-background{
  padding: 20px 0;
  background: #F6F6F6;
}

.company-info h4{
  font-size: 0.5rem;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  color:#868686;
}
.subscribe{
  display: flex;
  margin: 20px 0;
}
@media (min-width:576px){
 #process{
  margin-bottom: 5rem;
 }



}
@media (min-width:768px) {
  li.step-item:first-child:after, li.step-item:nth-child(2):after{
    left: 63%;
    width: 75%;
  }

}
@media (min-width:992px) {

}
