*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header{
  margin: 30px 0;
  background: #F4F4F4;
  text-align: center;
  color: #494949;
}
#header h1{
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}
#header a, #header h6{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  color: #2F2F2F;
}

#header a:hover{
  color: #909090;
}
.breadcrumbs{
  display: flex;
  align-items: center;
}
.breadcrumbs h6{
  margin: 0;
}
/* process */
#process{
  margin-bottom: 3rem;
}
ol.step{
  margin-bottom: 0;
  position: relative;
  list-style-type: none;
}
li.step-item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
li.step-item div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: .5rem;
  border-radius: 50%;
  border: 2px solid #eee;
}
li.step-item div h5, li.step-item h4{
  margin: 0;
  color: #9f9f9f;
}
li.step-item h4{
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
}
li.step-item.step-current div{
  border: 2px solid #000;
}
li.step-item.step-current div h5, li.step-item.step-current h4{
  color: #000;
}







.gray-background{
  padding: 20px 0;
  background: #F6F6F6;
}

.company-info h4{
  font-size: 0.5rem;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  color:#868686;
}
.subscribe{
  display: flex;
  margin: 20px 0;
}
@media (min-width:576px){

}
@media (min-width:768px) {
}
@media (min-width:992px) {

}
