*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header_2{
  position: relative;
  background-image: url(../images/checkout.png);
  background-size: cover;
}
#header_2 a:hover, #header_2 #header a:hover{
  color: #ccc;
}
#top{
  padding: .5rem 0;
}
#top ul.list-inline > li:first-child:after{
  content: '|';
  margin-left: .5rem;
  color: white;
}
#top li.languages{
  position: relative;
}
#top ul.language{
  display: none;
  background: #000;
  padding: .5rem;
  position: absolute;
  z-index: 99;
  width: 6rem;
  }
#top a{
  font-family: 'Open Sans';
  font-size: .8rem;
  color: #fff;
}
#header_2 #header{
  padding: 30px 0;
  color: #fff;
}
#header_2 #header a, #header_2 #header h6{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  color: white;
}
/* process */
#header_2, #process, #order-confirm{
  margin-bottom: 3rem;
}
ol.step{
  margin-bottom: 0;
  position: relative;
  list-style-type: none;
}
li.step-item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
li.step-item:first-child:after, li.step-item:nth-child(2):after{
  position: absolute;
  top: 28px;
  left: 75%;
  width: 51%;
  height: 1px;
  content: '';
  background-color: #eee;
}
li.step-item div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: .5rem;
  border-radius: 50%;
  border: 2px solid #eee;
}
li.step-item div h5, li.step-item h4{
  margin: 0;
  color: #9f9f9f;
}
li.step-item h4{
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-size: .8rem;
}
li.step-item.step-current div{
  border: 2px solid #000;
}
li.step-item.step-current div h5, li.step-item.step-current h4{
  color: #000;
}
#order-confirm h2{
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
form.billing-details select, form.billing-details input, form.billing-details textarea{
  margin-bottom: .5rem;
  padding: .5rem;
  background: #fff;
  width: 100%;
  height: 2.5rem;
  border: 1px solid #eee;
  border-radius: 8px;
  color: #7D7D7D;
  font-size: .8rem;
  outline: none;
}
form.billing-details textarea[name="note"]{
  height: 5rem;
}
form.billing-details div{
  display: flex;
  align-items: center;
  color: #7D7D7D;
  font-size: .8rem;
}
form.billing-details input[type="checkbox"]{
  margin-bottom: 0;
  margin-right: 1rem;
  width: auto;
}
.gray{
  padding: 2rem 1rem;
  background: #F6F6F6;
}
.order-details{
  display: flex;
  flex-direction: column;
}
.order th, .payment h4{
  margin-bottom: 0;
  line-height: 3;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #808080;
}
.order{
  margin-bottom: 2rem;
}
table{
  width: 100%;
}
table.your-order td{
  font-size: .8rem;
  color: #636363;
}
table.your-order td.product{
  color: #aaa;
}
.border-top{
  border-top: 1px solid #ccc;
}
.pay-method .d-flex{
  justify-content: space-between;
  align-items: center;
}
.pay-method hr{
  margin: 0;
}
.pay-method p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .8rem;
  color: #808080;
}
.order-details h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color:#808080;
}
.agree{
  padding:1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.agree h4{
  margin: 0;
}
button.go-checkout{
  align-self: center;
}

.gray-background{
  padding: 20px 0;
  background: #F6F6F6;
}

.company-info h4{
  font-size: 0.5rem;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  color:#868686;
}
.subscribe{
  display: flex;
  margin: 20px 0;
}
@media (min-width:576px){
  #top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 #process{
  margin-bottom: 5rem;
 }
}
@media (min-width:768px) {
  #process{
    width: 80%;
    margin: 0 auto 5rem;
  }
  li.step-item:first-child:after, li.step-item:nth-child(2):after{
    left: 63%;
    width: 75%;
  }
  table.your-order td{
    font-size: 1rem;
  }
  form.billing-details textarea[name="address"]{
    height: 5rem;
  }

}
@media (min-width:992px) {
  li.step-item:first-child:after, li.step-item:nth-child(2):after{
    top:40px
  }
  li.step-item {
    height: 19vh;
  }
  li.step-item div{
    width: 65px;
    height: 65px;
  }
  li.step-item div h5{
     font-size: 1.5rem;
  }
  li.step-item h4{
    font-size: 1.1rem;
  }
  #order-confirm .col-lg-6:first-child{
    padding-right: 2rem;
  }
  #order-confirm .col-lg-6:last-child{
    padding-left: 2rem;
  }
  form.billing-details select, form.billing-details input, form.billing-details textarea{
    padding: 0 1rem;
    height: 3rem;
  }
  form.billing-details input[name="address"]{
    height: 5rem;
  }
}
